@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Rubik:wght@300&family=Spline+Sans+Mono:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
html {
  scroll-behavior: smooth;
}
section {
  height: 500px;
}
.header {
  /* background: #211f26;*/
  height: 100vh;
  color: white;
  font-size: 22px;
}
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 200px;
  color: white;
  text-align: center;
}
div.blank-nav-div {
  width: 55%;
}
nav {
  display: flex;
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40%;
}
ul li {
  text-align: center;
  padding: 50px 0 0 0;
  text-decoration: none;
}
nav ul li a {
  text-decoration: none;
  /*scroll-behavior: smooth;*/
  color: white;
}
nav ul li a:hover,
a:active {
  color: coral;
}
.intro {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 160px 0 0 0;
}
.intro h1 {
  font-size: 4rem;
  font-family: "Spline Sans Mono", monospace;
}
.intro h2 {
  padding: 10px 0;
}
.btn {
  width: 180px;
  padding: 10px;
  background: coral;
  color: white;
  font-size: 1.2rem;
  font-style: bold;
  border-radius: 10px;
  margin: 70px 0 0 0;
  cursor: pointer;
  text-align: center;
  border: white;
}
.btn:hover {
  background: #ef744b;
}
.btn:active {
  background: darkgrey;
}
div.social-icons {
  width: 70%;
  margin: 10px auto;
}
div.social-icons ul {
  margin: auto;
}
/* div.social-icons ul li {
} */
svg {
  fill: white;
}
svg:hover,
svg:active {
  fill: rgb(20, 197, 220);
}
nav::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("bg1.jpg") no-repeat center/cover;
  z-index: -1;
  opacity: 0.9;
  top: 0;
}
.photo {
  margin: 30px 0 0 50px;
}
.photo img {
  height: 120px;
  width: 120px;
  border-radius: 30%;
}
.about_section {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 50px 60px;
  height: auto;
  box-shadow: 5px 10px rgb(207, 198, 198);
  border-radius: 10px;
}
.about_section.info h2 {
  font-size: 40px;
  padding-left: 10px;
}
.info p {
  font-size: 23px;
  padding: 6px 0;
}
div.my-dp img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  padding: 0 10px;
}
.project_section {
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.project_section h2 {
  font-size: 40px;
}

.project_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}
.project_card {
  width: 330px;
  height: 460px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  background-color: white;
  margin: 12px;
  border-radius: 10px;
}
.prj img {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}
.prj h3 {
  margin: 15px;
}
.p_card a {
  text-decoration: none;
  color: black;
}
.project_card:active {
  transform: translateY(5px);
}
.prj p {
  font-size: 1.2rem;
}
.prj h3 {
  font-size: 1.3rem;
}

.contact {
  font-size: 2rem;
  padding: 18px;
  color: white;
}
.email,
.phone {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 5px auto;
}
.email a,
.phone a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.hamburger {
  display: none;
}
ul.show {
  display: block;
}
hr {
  display: none;
}
.phone svg,
.email svg {
  padding: 0 12px;
}

/*Responsive*/

@media only screen and (max-width: 800px) {
  * {
    box-shadow: none;
  }
  .intro h1 {
    font-size: 2rem;
  }
  .intro h2 {
    font-size: 1.5rem;
  }
  div.intro {
    width: 100%;
    padding: 50px 0 0 0;
  }
  div.blank-nav-div {
    width: 0;
  }

  nav ul {
    display: block;
    margin: auto;
    width: 100%;
  }
  nav ul li {
    padding: 10px 15px;
    /*background: #494848;*/

    text-align: left;
    font-size: 1rem;
  }
  .btn {
    width: 120px;
    padding: 5px;
    margin: 50px 0 0 0;
  }
  svg {
    width: 40px;
    height: 40px;
  }
  div.social-icons ul a li {
    padding: 50px 20px 0 20px;
  }
  div.social-icons {
    width: 70%;
    margin: auto;
  }
  .intro {
    margin-top: 50px;
    width: 50%;
  }
  nav {
    flex-wrap: wrap;
  }
  .about_section {
    flex-direction: column;
    padding: 30px;
  }
  .info p {
    font-size: 19px;
  }
  .my-dp {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  div.my-dp img {
    width: 8rem;
    height: 8rem;
  }
  .prj img {
    margin-top: 20px;
    width: 250px;
    height: 250px;
  }
  .project_container {
    align-items: center;
    padding: 5px;
  }
  .project_card {
    width: 95%;
    height: 400px;
  }
  .p_card {
    width: 95%;
    margin: auto;
  }
  .p_card .project_card:active {
    transform: none;
  }
  .email,
  .contact {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 18px;
  }

  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    padding: 8px 15px;
    cursor: pointer;
  }
  nav ul {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 197, 220);
  }
  hr {
    display: block;
  }
  .email a,
  .phone a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
  .email,
  .phone {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0;
  }
  .email svg,
  .phone svg {
    padding-right: 0;
    padding-top: 15px;
  }
}
